body {
    /*background-image: url(http://kreativo.se/backlogin.jpg);*/
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6EA4BB), color-stop(100%, #F0DBA5));
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

h1 {
    color: #E7E7E6;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
}

h3 {
    text-align: left;
    font-size: 14px;
    margin: auto 0;
    display: inline;
}

.container {
    margin: 0 0;
}

#nav {
    text-align: center;
    background-color: #464646;
    padding: 10px;
}

li {
    display: inline;
}

li a {

    text-decoration: none;
    padding: 10px 30px;
    color: #d0d0d0;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #C04C4B;

}

li a:hover:not(.active) {
    background-color: #C04C4B;

}

.active {
    background-color: #6EA4BB;
}

.center {
    padding-top: 15px;
    text-align: center;
    margin-bottom: 5px;
}

.dashboard {
    height: 1100px;
    width: 350px;
    margin: auto;
    padding: 0 25px 25px;
    background: #fff;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.4),
    0 4px 20px rgba(0, 0, 0, 0.33);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: table;
    position: static;
    text-align: center;
}

.booster {
    height: fit-content;
    width: 870px;
    padding-top: 20px;
    margin: auto;
    text-align: center;
}

.cards {
    height: fit-content;
    width: 870px;
    padding-top: 20px;
    margin-left: 50px;


}

.cards img {
    float: left;
    padding: 40px 10px;
    width: 250px;
    height: 330px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
}


.booster img {
    float: left;
    padding: 30px 10px;
    width: 250px;
    height: 330px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;


}

.booster img:hover {
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

.dashboard h3 {
    color: #6EA4BB;
    font-size: 16px;
}

.dashboard h4 {
    color: #464646;
    font-size: 14px;
}

.dashboard p {
    color: #6EA4BB;
    font-size: 16px;
}

.dashboard h2 {
    display: inline;
    color: #6EA4BB;
    font-size: 16px;
}

.sep {
    height: 1px;
    background: #e8e8e8;
    width: 850px;
    margin: 0 -25px;
}

.information {
    margin-top: 80px;
    margin-bottom: 20px;
    text-align: center;
}

.information p {
    color: #6EA4BB;
    font-size: 16px;
}

.card {
    margin: auto 10px;
    float:left;

}

#trade {
    width: 50%;
    margin: 10px auto 20px;
    padding: 15px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    background: -moz-linear-gradient(
            top,
            #b9c5dd 0%,
            #a4b0cb);
    background: -webkit-gradient(
            linear, left top, left bottom,
            from(#b9c5dd),
            to(#a4b0cb));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #737b8d;
    -moz-box-shadow: 0 5px 5px rgba(000, 000, 000, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 5px 5px rgba(000, 000, 000, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5);
    box-shadow: 0 5px 5px rgba(000, 000, 000, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5);
    text-shadow: 0 1px 3px rgba(000, 000, 000, 0.3),
    0 0 0 rgba(255, 255, 255, 0);
    display: table;
    position: static;
    clear: both;
}

#welcome .inputs #trade:hover {
    background: -moz-linear-gradient(
            top,
            #a4b0cb 0%,
            #b9c5dd);
    background: -webkit-gradient(
            linear, left top, left bottom,
            from(#a4b0cb),
            to(#b9c5dd));
}

input {
    background: #f5f5f5;
    font-size: 0.8rem;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    padding: 13px 10px;
    width: 100px;
    margin-bottom: 5px;
    box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1);
    clear: both;
}

label {
    color: #464646;
}