body {
    /*background-image: url(http://kreativo.se/backlogin.jpg);*/
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6EA4BB), color-stop(100%, #F0DBA5));
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

h1 {
    color: #E7E7E6;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
}

@media only screen and (max-width: 900px){
    h1 {
        font-size: 1.5em;
    }
}

h3 {
    text-align: left;
    font-size: 14px;
    margin: auto 0;
    display: inline;
}

.container {
    margin: 0 0;
    padding-top: 20px;
}

.nav-menu {
    justify-content: center;
    display: flex;
}

.nav {
    display: flex;
    font-size: 1.0em;
    text-align: center;
    background-color: #464646;
    position: fixed; /* Set the navbar to fixed position *!*/
    top: 0; /* Position the navbar at the top of the page */
    width: 100vw;

}

@media only screen and (max-width: 900px) {
    .nav {
        font-size: 0.7em;
        margin: 0;
    }
}

ul {
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    margin: auto;
}

li a {

    text-decoration: none;
    padding: 15px 30px;
    color: #d0d0d0;
}

@media only screen and (max-width: 900px) {
    li > a {
        padding: 15px 10px;
    }
}

.first {
    margin-left: auto;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #C04C4B;
    padding: 15px 30px;
}

@media only screen and (max-width: 900px) {
    li > a:hover {
        padding: 15px 10px;
    }
}

li a:hover:not(.active) {
    background-color: #C04C4B;

}

.center {
    padding-top: 15px;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 5px;
}

.span span {
    float: left;
}

.grid-wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
}

.booster {
    height: fit-content;
    width: 870px;
    margin: auto;
    text-align: center;
}

.booster img {
    float: left;
    width: 230px;
    height: 330px;
    margin: 20px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;


}

.booster img:hover {
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

h4 {
    color: #464646;
    font-size: 14px;
}

p {
    color: #6EA4BB;
    font-size: 14px;
}

.sep {
    height: 1px;
    background: #e8e8e8;
    margin: 0 -25px;
}

.information {
    margin-bottom: 20px;
    text-align: center;
}

.information p {
    color: #6EA4BB;
    font-size: 14px;
}

@media only screen and (max-width: 900px){
    .information p {
        font-size: 0.7em;
    }
}

@media only screen and (max-width: 900px){
    .information h4 {
        font-size: 0.7em;
    }
}

.card {
    margin: 20px;

}

.card > img {
    width: 100%;
}

.pages {
    padding-top: 40px;
    clear: both;
}

.pagination {
    display: inline-block;
    padding-left: 10px;

}

#trade-button {
    width: 80%;
    margin: 10px auto 20px;
    padding: 15px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    background: -moz-linear-gradient(
            top,
            #b9c5dd 0%,
            #a4b0cb);
    background: -webkit-gradient(
            linear, left top, left bottom,
            from(#b9c5dd),
            to(#a4b0cb));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #737b8d;
    -moz-box-shadow: 0 5px 5px rgba(000, 000, 000, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 5px 5px rgba(000, 000, 000, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5);
    box-shadow: 0 5px 5px rgba(000, 000, 000, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5);
    text-shadow: 0 1px 3px rgba(000, 000, 000, 0.3),
    0 0 0 rgba(255, 255, 255, 0);
    display: table;
    position: static;
    clear: both;
}


#trade-button:disabled {
    background: #fd0000;

}

label {
    color: #464646;
}

#cards-background {
    width: 70vw;
    max-width: 800px;
    margin: auto auto 500px;
    padding: 20px 20px 50px;
    background: #fff;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.4),
    0 4px 20px rgba(0, 0, 0, 0.33);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: static;
    text-align: center;

}

@media only screen and (max-width: 900px){
    #my-background > p, h4 {
        font-size: 0.7em;

    }
}

#my-background {
    width: 500px;
    margin: auto auto 500px;
    padding: 20px 40px 50px;
    background: #fff;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.4),
    0 4px 20px rgba(0, 0, 0, 0.33);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: static;
    text-align: center;

}

@media only screen and (max-width: 900px){
    #my-background  {
        width:60vw;

    }
}
.ilosc{
    margin:10px;
    text-align: center;
}

form{
    margin-top:20px;
}

.button {
    width: fit-content;
    margin: 10px auto 20px;
    padding: 15px 10px;
    color: #fff;
    font-size: 0.7em;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    background: -moz-linear-gradient(
            top,
            #b9c5dd 0%,
            #a4b0cb);
    background: -webkit-gradient(
            linear, left top, left bottom,
            from(#b9c5dd),
            to(#a4b0cb));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #737b8d;
    -moz-box-shadow: 0 5px 5px rgba(000, 000, 000, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 5px 5px rgba(000, 000, 000, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5);
    box-shadow: 0 5px 5px rgba(000, 000, 000, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5);
    text-shadow: 0 1px 3px rgba(000, 000, 000, 0.3),
    0 0 0 rgba(255, 255, 255, 0);
    display: table;
    position: static;
    clear: both;
}
@media only screen and (max-width: 400px) {
    .button {
        font-size: 0.5em;
        padding:10px 5px;
    }
}

#home {
    margin: auto;

}
#title{
    color: #464646;
    font-size: 2em;
}

#center-home {
    padding-top: 15px;
    text-align: center;
    margin-bottom: 5px;
}

#paging{
    text-align: center;
}

input[type=number] {
    background: #f5f5f5;
    font-size: 0.7rem;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    padding: 13px 10px;
    width: 150px;
    margin:10px;
    box-shadow: inset 0 2px 3px rgba( 0,0,0,0.1 );
    clear: both;
}

#booster-background {
    width:70vw;
    max-width: 800px;
    margin: auto auto 500px;
    padding: 20px 20px 50px;
    background: #fff;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.4),
    0 4px 20px rgba(0, 0, 0, 0.33);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: static;
    text-align: center;

}

#my-background > img {
    width:70%;
}


.footer {

    font-size: 1.0em;
    text-align: center;
    color: #464646;
    width: 100vw;
    list-style-type: none;
    padding:0;
}

.footer > p {
    padding:20px 0;
    text-decoration: none;

}

@media only screen and (max-width: 900px) {
    .footer > p {
        font-size: 0.7em;
        margin: 0;
    }
}


