<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Booster</title>

    <div class="menu" th:insert="~{fragments/headerinc :: head}"></div>

</head>

<body>
<div class="menu" th:insert="~{fragments/header :: header}"></div>
    <h2>Kup Booster</h2>
<div class="container-booster">
    <div id="welcome">
        <div id="info">
            <h4>Trener:</h4>
            <p th:text="${model.name}"></p>
            <h4>Ilość pieniędzy</h4>
            <p th:text="${model.money}"></p>
            <p th:text="${message}"></p>
            <div class="sep"></div>
        </div>
        <form action="/booster" method="post" id="signin">

            <div class="sep"></div>

            <input type="submit" value="Kup Booster 5 kart za 100" id="sign">
        </form>
    </div>
    <div class="booster" th:if="${boughtBooster!=null}">
        <div  th:each="card:${boughtBooster}">
            <img th:src="${card.imageUrl}" >
        </div>
    </div>

</div>
</div>

</body>
</html>