<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Booster</title>
    <link th:href="@{css/style.css}" href="/static/css/style.css"
          rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
<div class="container">
    <div class="center">
        <form action="/booster" method="post" id="signin">
            <p> koszt boostera 100$</p>

            <input type="submit" value="Kup booster" id="button-buy">
        </form>
    </div>
    <div th:if="${boughtBooster!=null}">
        <div th:each="card:${boughtBooster}">
            <div th:text="${card.name}"></div>
        </div>
    </div>
</div>
</body>
</html>