<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>

    <div  th:insert="~{fragments/headerinc-dashboard :: head}"></div>

</head>
<body>
<div id="center-home">
    <img th:src="@{icons/pokeball.png}"
         width="70">
</div>
<div class="container" >

    <div id="my-background">
        <h1 id="title">Pokemon Card Collector</h1>

            <img th:src="@{icons/pokemon-cards.png}"
                 width="350">
<div id="home">
        <h5>Pokemon CardCollector to aplikacja, którą pokochasz! Kolekcjonuj unikatowe karty, wystawiaj je na aukcje i zdobywaj fortunę!  </h5>
</div>
            <p>Posiadasz konto?</p>
            <form action="/login" method="get">

                <input type="submit" value="ZALOGUJ SIĘ" class="button">
            </form>
            <p>Nie masz jeszcze konta? </p>
            <form action="/register" method="get" id="signin">

                <input type="submit" value="ZAREJESTRUJ SIĘ" class="button">
            </form>


    </div>
</div>
</body>
</html>