<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>

    <div class="menu" th:insert="~{fragments/headerinc :: head}"></div>

</head>
<body>
<div class="center">
    <img th:src="@{icons/pokeball.png}"
         width="70">
</div>
<div class="container">

    <div id="welcome">
        <h1>Pokemon Card Collector</h1>

        <div class="sep"></div>

            <img th:src="@{icons/pokemon-cards.png}"
                 width="350">

        <h5>Pokemon CardCollector to aplikacja, którą pokochasz! Kolekcjonuj unikatowe karty, wystawiaj je na aukcje i zdobywaj fortunę!  </h5>
        <div class="center">
            <p>Nie masz jeszcze konta? </p>
            <form action="/register" method="get" id="signin">

                <input type="submit" value="Zarejestruj się" class="sign">
            </form>

        </div>
    </div>
</div>
</body>
</html>