<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Account</title>
    <div  th:insert="~{fragments/headerinc-dashboard :: head}"></div>
</head>
<body>
<div class="container" th:insert="~{fragments/header :: header}"></div>
    <h1>Moje konto</h1>
    <div id="my-background">
        <h4>Twoja nazwa</h4>
        <p th:text="${model.name}"></p>
        <h4>Stan konta</h4>
        <p th:text="${model.money}"></p>

        <div class="sep"></div>
        <div class="information">
            <h4>E-mail</h4>
            <p th:text="${model.email}"></p>
            <h4>Data rejestracji</h4>
            <p th:text="${model.registerTime}"></p>
            <h4>Dni od rejestracji</h4>
            <p th:text="${model.daysAfterRegistration}"></p>
        </div>
    </div>
</div>

</body>
</html>