<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">>
    <title>My Account</title>
    <link th:href="@{css/style-dashboard.css}" href="/static/css/style-dashboard.css"
          rel="stylesheet" type="text/css" media="screen"/>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
</head>
<body>

<div class="container">
    <ul>
        <li><a href="#account">My account</a></li>
        <li><a href="#cards">My cards</a></li>
        <li><a href="#trade">Trade</a></li>
        <li><a href="#about">About Card Collector</a></li>
    </ul>
    <div class="center">
        <img th:src="@{icons/pokeball.png}"
             width="70">
    </div>
    <h1>Pokemon Card Collector</h1>
    <div class="dashboard">
        <h4>Your name</h4>
        <p th:text="${user.name}"></p>
        <h4>Your money</h4>
        <p th:text="${user.money}"></p>

        <div class="sep"></div>
        <div class="information">
            <h4>User email</h4>
            <p th:text="${user.email}"></p>
            <h4>Register date</h4>
            <p th:text="${user.registerTime}"></p>
            <h4>Register duration</h4>
            <p th:text="${user.daysAfterRegistration}"></p>
        </div>

    </div>


</div>

</body>
</html>