<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"  name="viewport" content="width=device-width, initial-scale=1.0">>
    <title>Rejestracja</title>
    <div th:insert="~{fragments/headerinc :: head}"></div>
</head>
<body>
<div class="center">
    <img th:src="@{icons/pokeball.png}"
         width="70">
</div>
<div class="container">
    <form action="/register" method="post" id="signup" th:object="${request}">

        <div class="header">

            <h3>Zarejestruj się</h3>

            <p>Uzupełnij pola, aby się zarejestrować</p>

        </div>


        <div class="inputs">

            <input type="email" th:field="${request.email}" placeholder="e-mail" autofocus/>
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            <input type="text" th:field="${request.name}" placeholder="Your Name" autofocus/>
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            <input type="password" th:field="${request.password}" placeholder="Password"/>
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
            <input type="submit" id="submit">


        </div>

    </form>
</div>
</body>
</html>


​