<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trade Selling</title>

    <div th:insert="~{fragments/headerinc-dashboard :: head}"></div>

</head>

<body>
<div class="container" th:insert="~{fragments/header :: header}"></div>
<h1>Moje karty</h1>
<div class="dashboard">
    <div class="booster" th:if="${cards!=null}">
        <div th:each="card:${cards.keySet()}">
            <div class="card">
                <img th:src="${card.imageUrl}">
                <form>
                    <div>
                        <label>Ilość</label>
                        <input type="number" th:placeholder="${'max '+cards.get(card)}">
                    </div>
                    <div>

                        <label>Cena</label>
                        <input type="number" placeholder="Twoja cena">
                    </div>
                    <input type="submit" value="Wystaw" id="trade">

                </form>
            </div>
        </div>
    </div>
</div>
</div>

</body>
</html>