<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Trade</title>

    <div  th:insert="~{fragments/headerinc :: head}"></div>

</head>

<body>
<div class="menu" th:insert="~{fragments/header :: header}"></div>
<h2>Aukcje</h2>
<div class="container-booster">
    <div id="welcome">

            <div class="sep"></div>

        <div class="href">

            <a id="href" href="/trade-selling" class="link">Wystaw karty na aukcję</a>
        </div>
        <div class="href">
            <a href="/trade-buying" class="link">Kup karty na aukcji</a>
        </div>

    </div>

</div>


</body>
</html>