<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Trade</title>

    <div  th:insert="~{fragments/headerinc :: head}"></div>

</head>

<body>
<div class="menu" th:insert="~{fragments/header :: header}"></div>
<h2>Aukcje</h2>
<div class="container-booster">
    <div id="welcome">

            <div class="sep"></div>

        <form action="/trade-selling" method="get" i>

            <div class="sep"></div>

            <input type="submit" value="WYSTAW KARTY NA AUKCJE" class="sign">
        </form>
        <form action="/trade-buying" method="get" id="signin">

            <div class="sep"></div>

            <input type="submit" value="KUP KARTY NA AUKCJI" class="sign">
        </form>

    </div>

</div>


</body>
</html>